# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
*/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/miniprogram/pages_components/*.js
/miniprogram/pages_components/*.wxss
/miniprogram/components/*.js
/miniprogram/components/*.wxss
/miniprogram/pages/*.js
/miniprogram/pages/*.wxss
/dist
/build
/miniprogram/components_es5
*.zip
*.lock
project.private.config.json

# env
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

# log
*-debug.log*
node_modules
