function formatName (name){
	return name.substring(0, 5)
}

function getContentStyles (props){
	var styles = ''

	if (props.cover) styles += ';border-radius:0'
	if (props.color) styles += ';color:' + props.color
	if (props.bgColor) styles += ';background:' + props.bgColor

	return styles
}

module.exports = {
	formatName: formatName,
	getContentStyles: getContentStyles
}
