page {
      background-color: transparent;
}

.menu_items_wrap {
      padding: 36px;

      .menu_items {
            .menu_item {
                  margin-bottom: 36px;

                  .title_wrap {
                        .title {
                              flex: 1;
                              padding: 12px 0;
                              color: var(--color_text_sub);
                        }

                        .icon_close {
                              display: none;
                        }
                  }

                  .components {
                        .component {
                              width: calc(~'(100% - 24rpx) / 2');
                              padding: 32rpx;
                              margin-right: 24rpx;
                              margin-bottom: 24rpx;
                              border-top-right-radius: 36rpx;
                              border-bottom-left-radius: 36rpx;
                              box-shadow: var(--box_shadow_morphic);
                              background-color: white;

                              &:nth-of-type(2n) {
                                    margin-right: 0;
                              }

                              &.navigator-hover{
                                    opacity: 1;
                                    background-color: white;
                                    box-shadow: var(--box_shadow_morphic_active);
                              }

                              .description {
                                    font-size: 26rpx;
                                    color: var(--color_text_desc);
                              }
                        }
                  }
            }
      }
}