function getWrapStyles( props ) {
      var styles = ''

      if ( props.bordered ) styles += ';border:2rpx solid ' + props.borderColor
      if ( props.filled ) styles += ';background:' + props.fillColor
      if ( props.round ) styles += ';border-radius:50%'

      styles += ';width:' + props.size * 1.5 + 'px'
      styles += ';height:' + props.size * 1.5 + 'px'

      return styles
}

function getStyles( props ) {
      var styles = ''

      styles += ';width:' + props.size + 'px'
      styles += ';height:' + props.size + 'px'
      styles += ';background:' + props.color
      styles += ';mask-image:url("' + props.src + '")'
      styles += ';-webkit-mask-image:url("' + props.src + '")'

      return styles
}

module.exports = {
      getWrapStyles: getWrapStyles,
      getStyles: getStyles
}