.init {
      font-size: 30rpx;
      light-line-height: 1.6;
      color: black;
}

.fixed_dialog_wrap {
      .init();

      position: fixed;
      top: 0;
      left: 0;
      width: 100vw;
      height: 100vh;

      .dialog_wrap {
            position: relative;
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;

            .mask {
                  position: absolute;
                  top: 0;
                  left: 0;
                  width: 100%;
                  height: 100%;
            }

            .light-dialog {
                  display: flex;

                  &.top {
                        position: absolute;
                        top: 0;
                  }

                  &.bottom {
                        position: absolute;
                        bottom: 0;
                        padding-bottom: env(safe-area-inset-bottom);
                  }

                  &.left {
                        position: absolute;
                        left: 0;
                  }

                  &.right {
                        position: absolute;
                        right: 0;
                  }
            }
      }
}