.content_item {
      box-sizing: border-box;
      height: 300rpx;
      background-color: white;
      color: #aaa;
      font-size: 26rpx;
}

.example_items {
      .example_item {
            .title_wrap {
                  align-items: center;
                  flex-direction: column;

                  .title {
                        margin-bottom: 12rpx;
                        font-weight: normal;
                        font-size: 24rpx;
                  }
            }
      }
}