@import './styles/atom-miniapp.min.wxss';
@import './styles/init.wxss';
@import './styles/vars.wxss';

page {
      background-color: var(--color_background);
}

.example_items {
      padding: 36px;
      padding-bottom: calc(~'0px + 'env(safe-area-inset-bottom));

      .tips_wrap {
            @width_left: 72rpx;

            padding:32rpx 36rpx;
            padding-left: @width_left;
            margin-bottom: 36px;
            border-top-right-radius: 48rpx;
            border-bottom-left-radius: 48rpx;
            text-align: justify;
            border-left: 6rpx solid var(--color_warning);
            box-shadow: var(--box_shadow_morphic);

            .icon_info {
                  top: 36rpx;
                  left: 24rpx;
                  width: 32rpx;
                  height: 32rpx;
            }

            .text {
                  font-size: 26rpx;
            }
      }

      .example_item {
            flex-direction: column;
            padding: 36rpx;
            margin-bottom: 36px;
            border-top-right-radius: 48rpx;
            border-bottom-left-radius: 48rpx;
            background-color: var(--color_background);
            box-shadow: var(--box_shadow_morphic);

            .title_wrap {
                  flex-direction: row;
                  justify-content: space-between;
                  width: 100%;
                  padding-bottom: 36rpx;
                  border-bottom: 2rpx solid var(--color_border);

                  .title {
                        font-weight: 500;
                        line-height: 1;
                  }

                  .attr {
                        font-size: 26rpx;
                        line-height: 1;
                        color: var(--color_text_desc);
                  }
            }

            .examples {
                  width: 100%;
                  box-sizing: border-box;
                  padding-top: 36rpx;

                  .example {
                        padding: 12rpx;
                  }
            }
      }
}