@import './styles/atom-miniapp.min.wxss';
@import './styles/init.wxss';
@import './styles/vars.wxss';

.example_items {
      padding-bottom: calc(~'0px + 'env(safe-area-inset-bottom));

      .example_item {
            flex-direction: column;
            border-bottom: 2rpx solid var(--color_border);

            .title_wrap {
                  flex-direction: row;
                  justify-content: space-between;
                  width: 100%;
                  padding: 36rpx;
                  padding-bottom: 0;
                  line-height: 1;

                  .title {
                        font-weight: 500;
                  }

                  .attr {
                        font-size: 26rpx;
                        color: var(--color_text_desc);
                  }
            }

            .examples {
                  width: 100%;
                  padding: 36rpx 24rpx;
                  padding-top: 24rpx;
                  box-sizing: border-box;

                  .example {
                        padding: 12rpx;
                  }
            }
      }
}