.example_items {
      &.icon_items {
            .example_item {
                  &:hover {
                        background-color: transparent;
                  }

                  .title_wrap {
                        flex-direction: column;
                        align-items: center;
                        margin-bottom: 12rpx;

                        .title {
                              margin-bottom: 18rpx;
                        }
                  }
            }
      }
}

.mini_items {
      .example_item {
            .title_wrap{
                  align-items: flex-start !important;
            }
            .examples {
                  justify-content: center;
                  .example {
                        justify-content: flex-end;
                  }
            }
      }
}

.icon_wrap {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%/4;
      padding: 36rpx 0;
      box-sizing: border-box;

      &:nth-last-of-type(1),
      &:nth-last-of-type(2),
      &:nth-last-of-type(3) {
            border-bottom: none;
      }

      &:hover {
            background-color: var(--color_sub_bg);
      }

      .icon_name {
            font-size: 20rpx;
      }
}